body{
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;  
}

button{
  background:black;
  padding:4px 16px;
  border-radius: 6px;
  outline:black;
  border:0px;
  color:white;
}

button:hover{
  background:#333;
  cursor:pointer;
}

